- content_for(:title, @title)
%ul.ui.grid.stackable.home
	- @posts.each do |post|
		%li.item.four.wide.column
			= link_to studio_posts_path(post.studio) do
				.studio-thumb= image_tag(post.thumbnail.url(:thumb))
				.studio-name= "studio #{post.studio.name}"
