.action{
	opacity: 0.6;
	@media #{$tablet}
	{
		opacity: 0.2;
	}
	transition: all 0.3s 0.2s ease-out;
}
.configurable:hover, .actionable:hover{
	.action{
		transition: all 0.2s ease-in-out;
		opacity: 1;
	}
}

.role-field .Select-input{
	opacity: 0;
	height: 0;
	pointer-events: none;
}
