li:before{
  content: none!important;
}

a, .ui.breadcrumb a{
  color: inherit;
  &:hover{
    color: inherit;
    text-decoration: underline;
  }
}

.ui.basic .actions{
  background-color: transparent;
}