// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-title{
	margin-bottom: 5px;
}
.post-details{
	color: lighten($black, 60%);
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: $smaller;
}

.post-body{
	img:after{
		content: attr('title')+'asd';
	}
}

.post{
	position: relative;
}
.post-actions{
	position: absolute;
	top: 5px;
	right: 5px;
	transition: all 0.2s ease-out;
	@media #{$tablet}
	{
		opacity: 0.05;
		.post:hover &{
			opacity: 1;
		}
	}
	.action{
		display: inline-block;
	}
	i{
		font-size: $larger;
	}
}