.post-title{
	margin-bottom: 5px;
}
.post-details{
	color: lighten($black, 60%);
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: $smaller;
}

.post-body{
	img:after{
		content: attr('title')+'asd';
	}
}

.post{
	position: relative;
}
.post-actions{
	position: absolute;
	top: 5px;
	right: 5px;
	transition: all 0.2s ease-out;
	@media #{$tablet}
	{
		opacity: 0.05;
		.post:hover &{
			opacity: 1;
		}
	}
	.action{
		display: inline-block;
	}
	i{
		font-size: $larger;
	}
}
.post-tags{
	text-align: right;
	color: #ACACAC;
}
.post, .post-form{
	counter-reset: caption;
}

.image-wrapper{
	position: relative;
	text-align: center;
	img{
		float: none!important;
	}
}

.link-to-original{
	display: block;
}
.image-caption{
	counter-increment: caption;
	color: lighten($black, 45%);
	margin-top: -15px;
	text-align: center;
	font-style: italic;
	font-size: $x-small;
	&:before{
		content: counter(caption) " "
	}
}

// List styles

.post-list .post.item:not(:last-child){
	margin-bottom: 25px;
}