.post-title{
	margin-bottom: 5px;
}
.post-details{
	color: $grey;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: $smaller;
}

.caption{
  font-size: 0.8em;
  color: $grey;
}

.post{
	position: relative;
}
.post-icons{
	position: absolute;
	top: 5px;
	right: 5px;
	.post-actions{
		display: inline-block;
		transition: all 0.3s 0.2s ease-out;
		@media #{$tablet}
		{
			opacity: 0.05;
			.post:hover &{
				transition: all 0.2s ease-out;
				opacity: 1;
			}
		}
	}
	.post-status{
		color: $grey;
	}
	.action{
		display: inline-block;
	}
	i{
		font-size: $larger;
	}
}
.post-tags{
	text-align: right;
	color: #ACACAC;
}
.post, .post-form{
	counter-reset: caption;
}

.image-wrapper{
	position: relative;
	.lightgallery{
		cursor: pointer;
	}

	&:hover .link-to-original{
		opacity: 1;
		transition: all 0.2s ease-out;
	}
	.link-to-original{
		opacity: 0;
		transition: all 0.2s 0.3s ease-out;
		display: block;
		position: absolute;
		bottom: 3px;
		left: 0;
		padding: 3px;
		z-index: 1;
		background-color: rgba(255,255,255, 0.7);
		i.icon{
			margin: 0;
		}
	}
}


.image-caption{
	counter-increment: caption;
	color: lighten($black, 45%);
	margin-top: -15px;
	text-align: center;
	font-style: italic;
	font-size: $x-small;
	&:before{
		content: counter(caption) " "
	}
}

body .lg-outer .lg-thumb-item.active, body .lg-outer .lg-thumb-item:hover {
  border-color: $brand-color;
}

// Form

.post.form{
	.is_studio:checked ~ .categories{
		display: none;
	}
	.is_studio:not(:checked) ~ .tags{
		display: none;
	}
}
// List styles

.post-list .post.item:not(:last-child){
	margin-bottom: 25px;
}

.home {
	.studio-name{
		position: absolute;
	  bottom: 18px;
	  left: 14px;
	  right: 14px;
	  padding: 5px;
	  color: white;
	  opacity: 0;
	  transition: all 0.2s ease-in-out;
	}
  a:hover .studio-name{
  	text-decoration: none;
  	opacity: 1;
  	transition: all 0.3s 0.2s ease-in-out;
  	bottom: 14px;
  }
}
.post.form{
	.thumbnail img{
		max-height: 170px;
	}
}