/*
 * Overwritten by RailsBricks
 *
 *= require react-select/dist/default.css
 *= require font-awesome
 *= require froala/css/froala_editor.min.css
 *= require froala/css/froala_style.min.css
 *= require semantic-ui/dist/semantic.min.css
 *= require_self
 */

@import "variables";
@import "framework_and_overrides";
@import "page_layout";
@import "posts";
tr.director{
	background-color: transparentize(blue, 0.9);
}

.users-table{
  .Select-control{
  	background: transparent;
    border-color: transparentize(#d9d9d9, 0.8) transparentize(#cccccc, 0.8) transparentize(#b3b3b3, 0.8);
    &:hover{
      border-color: #d9d9d9 #cccccc #b3b3b3;
    }
  }
}

.loading{
	animation: rotate 1s infinite;
}

@keyframes rotate{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}

body{
  font-family: Verdana, Arial, sans-serif
}

.inline{
  display: inline-block;
}