/*
 * Overwritten by RailsBricks
 *
 *= require_self
 *= require react-select/dist/default.css
 *= require font-awesome
 }
 */
@import "framework_and_overrides";

tr.director{
	background-color: transparentize(blue, 0.9);
}

.users-table{
  .Select-control{
  	background: transparent;
    border-color: transparentize(#d9d9d9, 0.8) transparentize(#cccccc, 0.8) transparentize(#b3b3b3, 0.8);
    &:hover{
      border-color: #d9d9d9 #cccccc #b3b3b3;
    }
  }
}