.ui.tabular.menu
	.item.active{data: {tab: 'year-edit'}} Edit
	.item{data: {tab: 'year-archive'}} Archive

.ui.tab.active{data: {tab: 'year-edit'}}= render 'form', year: @year
.ui.tab{data: {tab: 'year-archive'}}
	- if @year.archived?
		.ui.icon.message
			%i.info.icon
			.content
				%p This year has already been archived.
	- else
		.ui.icon.message.warning
			%i.warning.sign.icon
			.content
				.header Caution!
				%p
					Archiving this year will prevent all existing users(students and studio directors) from
					%em #{@year.name}
					from logging in or making any changes to their posts. This action cannot be undone.
		= link_to 'Archive year', year_archive_path(@year), method: :post, class: 'ui button', data: {:confirm=>'Are you sure? This action cannot be undone'}
