.ui.icon.message
	%i.announcement.icon
	.content
		.header Caution! Year order
		%p
			Current years are displayed in descending order of creation. Therefore, please create
			%em y5
			before creating
			%em y1.
= render 'form', year: @new_year
