<footer class="ui container">
	<div class="ui text container">
	  <p><small>
	    &copy; 2015 - EPFL Alice Laboratoire
	    <br>
	    made by the <a href="http://vbbros.net">vbbros</a>
	  </small></p>
	</div>
	<%= current_user.inspect %>
</footer>
