<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="ui message <%= name == "notice" ? "success" : "danger" %>">
    <i class="close icon"></i>
    <p>
    	<%= content_tag :div, msg, :id => "flash_#{name}" %>
    </p>
    </div>
  <% end %>
<% end %>
